.default-widget__video .title-wrapper {
  background: 0 0 !important
}

.video_content_banner {
  padding: 10px 0 20px
}

.default-widget__recent_news .title-wrapper {
  background: 0 0 !important
}

.person-profile .profile-photo .profile-description .description,
.person-profile .profile-photo .profile-description .roubrick {
  margin-right: 8px
}

footer .footer-content .footer-nav {
  margin: 10px 0 0
}

.profile-description a {
  color: #fff
}

.default-widget__constructor:nth-child(even) .grid-container {
  background: #f1f1f1;
  overflow: hidden
}

.default-widget:nth-child(even) .grid-container {
  background: #f1f1f1;
  overflow: hidden
}

.default-widget__home .episode-widget-block {
  background: #fff
}

.news-text ul {
  list-style-type: initial;
  margin-left: 1.25rem;
  margin-bottom: 15px
}

section.page-description {
  display: none
}

.narrator-cont {
  height: 114px;
  overflow: hidden;
  position: relative
}

.narrator-cont img {
  height: 114px;
  width: auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  max-width: initial
}

footer {
  margin-bottom: -24px
}

footer .footer-social li .soc-link {
  transition: none
}

.cell.news-card.sssss {
  height: 274px
}

.cell.news-card.sssss a {
  width: 100%;
  height: 100%
}

.default-widget.news .news-card .news-image {
  width: initial !important;
  height: 100% !important;
  max-width: initial;
  position: absolute;
  left: 50%;
  transform: translateX(-50%)
}

.default-widget.news .news-card .play-video {
  display: block;
  position: absolute;
  top: 70px;
  width: 66px;
  height: 65px;
  background: url(../fonts/video-btn_fcde_24.svg) no-repeat center;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  cursor: pointer;
  z-index: 1;
  transition: background .2s ease-in-out
}

.default-widget.news a {
  height: 288px
}

.sidebar-right-post .ads {
  margin: 0 0 20px
}

.footer__banner {
  padding-bottom: 20px
}

.slick-track .date-item {
  cursor: pointer
}

.program-items .item-wrapper {
  display: none
}

.program-items .item-wrapper.active {
  display: block
}

.popup-overlay {
  z-index: 9999
}

.news-card.short .news-image {
  height: initial
}

header .popup-overlay .projects-popup-wrapper .posters-wrapper {
  border: none
}

header .popup-overlay .projects-popup-wrapper .projects-list {
  border-top: 1px solid #fff
}

header .popup-overlay .projects-popup-wrapper .projects-list ul li .list-item div {
  overflow: hidden
}

.auth__message {}

.auth__message.error {
  color: #e61645
}

.stb-auth-form input:disabled,
.stb-auth-form button:disabled {
  cursor: not-allowed
}

.stb-auth-form button:disabled {
  background: rgba(230, 22, 69, .5215686274509804) !important
}

.persons-widget .news-card.short .news-image {
  height: 202px;
  overflow: hidden
}

.grid-container.pt3.menu-up {
  margin-top: 36px
}

.projects-widget .news-card.short .news-image img {
  width: initial;
  height: 100%;
  max-width: initial;
  position: absolute;
  left: 50%;
  transform: translateX(-50%)
}

.projects-widget .news-card>a {
  height: 288px
}

.projects-widget .news-card.short .news-image {
  height: 230px
}

.default-widget .cut__date a img {
  width: 100%
}

.default-widget .cut__date .title-wrapper {}

.default-widget.default-widget__video a .play-video {
  top: 77px
}

.default-widget.default-widget__constructor a {
  height: 288px !important
}

.default-widget.default-widget__video a {
  height: 212px
}

.default-widget.default-widget__video a img {
  height: 212px !important;
  width: initial;
  max-width: initial
}

.default-widget.default-widget__constructor.default-widget__video a img {
  width: initial;
  height: 100% !important;
  max-width: initial;
  position: absolute;
  left: 50%;
  transform: translateX(-50%)
}

.outer-wrapp {
  padding-top: 65px !important;
  background: #fff
}

.news-card.short .title-wrapper {
  max-height: 70px;
  line-height: 23px
}

.default-widget__video {
  background: 0 0 !important
}

.short-img a {
  height: 212px
}

.big-image .title-wrapper .pseudo-breadcrumbs {
  max-height: 20px;
  overflow: hidden
}

.news-card.short .date {
  top: -27px
}

.news-card .title-wrapper .title {
  max-height: 65px;
  overflow: hidden;
  line-height: inherit
}

.short-img .title-wrapper {
  box-sizing: content-box
}

.short-img .news-image {
  height: 212px !important;
  width: initial !important;
  max-width: initial
}

.project-description .narrators-list .narrator img {
  height: 114px;
  width: initial;
  max-width: initial
}

.search-widget .news-card .news-image {
  height: 287px
}

.search-widget a img {
  width: initial;
  height: 100%;
  max-width: initial;
  position: absolute;
  left: 50%;
  transform: translateX(-50%)
}

.news-card.popup .poster-wrapp .news-image {
  height: 100%;
  width: auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  max-width: initial
}

.video-page-about {
  padding-bottom: 0
}

.video-page-about .sidebar-right-post .adv {
  margin: 20px 0 24px auto
}

.menu-up {
  margin-top: 0 !important
}

.project-menu {
  position: inherit
}

.project-menu.scrolled-project {
  position: fixed;
  top: 32px
}

.video-stream {
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  position: relative
}

.video-stream iframe {
  width: 100%;
  height: 100%
}

.video-stream iframe.avd_background_player {
  z-index: 1;
  width: 80%;
  height: 80%;
  margin: 58px auto !important;
  display: block
}

.video-stream div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0
}

.projects-popup-wrapper:before {
  content: "";
  position: absolute;
  display: block;
  top: -30px;
  left: 0;
  height: 30px;
  width: 100%;
  background: 0 0
}

.adBanner {
  background-color: transparent;
  height: 1px;
  width: 1px
}

.widget-adv-block {}

.widget-adv-block.is-active {
  display: inline-block !important
}

.widget-adv-block.no-active {
  display: none !important
}

.widget-item.last-position {
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: 0
}

.hide-for-medium-only .widget-item {
  display: none !important
}

.widget-item.is-active {
  display: inline-block !important
}

.widget-item.no-active {
  display: none !important
}

.stb-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: 300px;
  grid-column-gap: 24px;
  grid-row-gap: 13px
}

.stb-grid.stb-grid-other__list {
  grid-template-rows: 300px 300px
}

.stb-grid .large-4,
.stb-grid .medium-6 {
  width: inherit;
  padding: 0
}

.stb-grid .news-card.big {
  width: 300px;
  height: 600px;
  grid-column-start: 3;
  grid-row-start: 1;
  grid-row-end: span 2
}

.stb-grid .news-card.small {
  width: 300px;
  height: 300px;
  grid-column-start: 3;
  grid-row-start: 1;
  grid-row-end: span 1
}

.stb-grid.stb-grid-other__list .news-card .news-image {
  height: 300px !important
}

.stb-grid.stb-grid-search__list .news-card .news-image {
  height: 300px !important
}

.stb-grid .news-card .profile {
  height: 300px
}

.stb-grid .news-card a {
  height: 300px
}

.stb-grid .news-image {
  height: 227px !important
}

.cons-post.no-active {
  display: none
}

.stb-grid .news-card.video {
  height: 291px !important
}

.stb-grid .news-card.video a {
  height: 291px !important
}

.stb-grid .news-card.video .news-image {
  height: 195px !important
}

.stb-grid .news-card.video .news-image img {
  width: initial;
  height: 100%;
  max-width: initial;
  position: absolute;
  left: 50%;
  transform: translateX(-50%)
}

.advi {
  height: 600px;
  width: 300px;
  background: red;
  margin-bottom: 24px
}

.default-widget.news .news-card:hover .news-image {
  transform: translateX(-50%) scale(1.1)
}

.default-widget__template.default-widget__video .news-card:hover .news-image {
  transform: scale(1.1)
}

.cards-list .news-card {
  height: 288px;
  max-height: 288px;
  padding: 0;
  margin-top: 24px
}

.news-card .title-wrapper {
  padding: 10px 19px 0
}

.section-title {
  padding: 36px 0 0
}

.show-more {
  margin: 0 auto;
  box-sizing: initial;
  padding: 30px 0
}

.arrow-more-mob {
  display: none
}

@media screen and (max-width:63.9375em) and (min-width:40em) {
  .news-card a {
    width: 100%;
    max-width: inherit;
    margin: 0 auto
  }

  .default-widget .cut__date a img {
    width: 100% !important;
    height: initial !important
  }

  .default-widget.news .news-card .news-image {
    width: initial;
    height: inherit
  }

  .default-widget.default-widget__video a {
    height: auto;
    width: 100%
  }

  .default-widget.default-widget__video a img {
    width: 100%;
    height: auto !important
  }

  .default-widget.default-widget__video a .play-video {
    top: 50%;
    transform: translate(-50%, -50%)
  }

  .outer-wrapp {
    padding-top: 48px !important
  }

  .arrow-more-mob {
    display: block;
    width: 100%;
    padding: 20px 0
  }

  .arrow-more-mob__img {
    display: none;
    margin: 0 auto
  }

  header .main-menu-block .main-menu-wrapper .menu-icon-group ul li {
    height: 48px
  }
}

@media screen and (max-width:39.9375em) {
  .news-card a {
    width: 100%;
    max-width: inherit;
    margin: 0 auto
  }

  .default-widget .cut__date a img {
    width: 100% !important;
    height: initial !important
  }

  .default-widget.news .news-card .news-image {
    width: 100%;
    height: inherit
  }

  .default-widget.default-widget__video a {
    height: auto;
    width: 100%
  }

  .default-widget.default-widget__video a img {
    width: 100%;
    height: auto !important
  }

  .default-widget.default-widget__video a .play-video {
    top: 50%;
    transform: translate(-50%, -50%)
  }

  .outer-wrapp {
    padding-top: 48px !important
  }

  .cards-list .news-card {
    height: inherit;
    max-height: inherit
  }

  .arrow-more-mob {
    display: block;
    width: 100%;
    padding: 10px 0
  }

  .arrow-more-mob__img {
    display: block;
    margin: 0 auto
  }

  header .main-menu-block .main-menu-wrapper .main-menu {
    height: auto;
    line-height: 48px;
    margin: 0;
    display: none
  }

  header .main-menu-block .main-menu-wrapper .menu-icon-group {
    flex-grow: 1;
    text-align: right
  }
}

img[width="0"],
img[height="0"] {
  display: block !important
}

.menu-item-hidden {
  display: none !important
}

.main-menu_mob-active {
  position: absolute;
  display: flex !important;
  flex-direction: column;
  left: 0;
  top: 40px;
  background: #fff;
  width: 100%;
  transition: .2s
}

.main-menu_mob-active li {
  padding: 0 0 0 12px
}

.shadow-box {
  background: rgba(38, 41, 46, .75);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 500;
  transition: .2s
}

.hide-show-menu_active {
  width: 25px !important;
  height: 25px !important;
  background: url(../fonts/close-icon_1951_25.svg) no-repeat center;
  margin-top: 12px !important
}

header .main-menu-block .main-menu-wrapper .menu-icon-group ul .hide-show-menu_active.hide-show-menu:after {
  content: "";
  box-shadow: none;
  background: 0 0
}

.shadow-box {
  display: none;
  transition: .2s
}

.widget-item {
  text-align: left
}

.people-block .news-card .news-image {
  width: initial;
  height: 100%;
  max-width: initial;
  position: absolute;
  left: 50%;
  transform: translateX(-50%)
}

.people-block .news-card:hover .news-image {
  -webkit-transform: translateX(-50%) scale(1.1);
  -ms-transform: translateX(-50%) scale(1.1);
  transform: translateX(-50%) scale(1.1)
}

.episode-widget-block .news-card:hover .news-image {
  -webkit-transform: translateX(-50%) scale(1.1);
  -ms-transform: translateX(-50%) scale(1.1);
  transform: translateX(-50%) scale(1.1)
}

.people-block .title-wrapper {
  position: absolute !important;
  bottom: 0
}

.project-participants-menu>li .nested .menu-item a .news-image {
  background-size: cover !important
}

.top-slider {
  max-height: 486px;
  overflow: hidden
}

@media screen and (max-width:63.9375em) and (min-width:40em) {
  .top-slider {
    max-height: inherit;
    overflow: auto
  }
}

.preview-wrap {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 288px 288px;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  margin: 24px 0 0;
  padding: 0
}

.preview-wrap_new {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(288px, 1fr));
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  margin: 24px 0 0;
  padding: 0
}

.default-widget__constructor .preview-wrap_new {
  grid-template-rows: 288px 288px
}

.preview:hover .preview-title {
  background: #26292e
}

.preview:hover .preview__img {
  transform: translateX(-50%) scale(1.1)
}

.preview.with_gif .preview_gif {
  display: none;
  width: 300px;
  height: 288px;
  background-size: cover;
  background-repeat: no-repeat
}

@media screen and (min-width:1024px) {
  .preview.with_gif:hover .preview_gif {
    display: block
  }

  .preview.with_gif:hover .preview_gif+.preview__img {
    display: none
  }
}

.preview:hover .play-video {
  opacity: .75
}

.preview {
  overflow: hidden
}

.preview_new {}

.preview-link {
  position: relative;
  display: block;
  width: 300px;
  height: 288px;
  overflow: hidden;
  text-align: left
}

.preview-link_new {}

.preview-link_newvid {
  overflow: hidden
}

.preview .play-video {
  display: block;
  position: absolute;
  top: 70px;
  width: 66px;
  height: 65px;
  background: url(../fonts/video-btn_fcde_24.svg) no-repeat center;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  cursor: pointer;
  z-index: 1;
  transition: background .2s ease-in-out
}

.preview__img {
  width: initial;
  height: 100%;
  max-width: initial;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out
}

.preview-title {
  position: absolute;
  bottom: 0;
  height: 100px;
  overflow: hidden;
  width: 100%;
  background: rgba(38, 41, 46, .75);
  color: #fff;
  transition: all .3s ease-in-out;
  padding: 10px 19px 0
}

.preview-title .category {
  font-weight: 900;
  line-height: 1.1;
  max-height: 37px;
  overflow: hidden
}

.preview-title .title {
  max-height: 53px;
  overflow: hidden;
  line-height: 1.1
}

.preview-title_new {
  position: absolute;
  padding: 10px 19px 0;
  background: #f1f1f1;
  color: #26292e;
  overflow: visible
}

.preview-title_new .date {
  top: -24px;
  left: 0
}

.preview:hover .preview-title_new {
  background: #f1f1f1
}

.preview .date {
  position: absolute;
  display: block;
  width: 57px;
  height: 24px;
  bottom: 0;
  background: #e61645;
  color: #fff;
  font-weight: 700;
  line-height: 19px;
  font-size: 16px;
  text-align: center;
  padding: 3px 3px 0
}

@media screen and (max-width:63.9375em) and (min-width:40em) {
  .preview-wrap {
    display: grid;
    grid-template-columns: minmax(100px, 1fr) 1fr;
    grid-template-rows: minmax(100px, 50%) 1fr;
    grid-column-gap: 13px;
    grid-row-gap: 13px;
    margin: 24px 0 0;
    padding: 0
  }

  .preview div[id^=div-gpt-ad] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
  }

  .default-widget__constructor .preview-wrap_new {
    grid-template-rows: repeat(auto-fill, minmax(288px, 1fr))
  }

  .preview {
    width: 100%;
    margin: auto;
    height: 0;
    overflow: hidden;
    padding-top: calc(288/300 * 100%);
    position: relative
  }

  .preview_new {
    padding-top: calc(288/300 * 100%)
  }

  .preview-link:not(.preview-link_new) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
  }

  .preview_new__inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
  }

  .preview-link_new {
    width: 100%;
    margin: auto;
    height: 0;
    overflow: hidden;
    padding-top: calc(288/300 * 100%);
    position: relative
  }

  .preview-link_new .preview__img {
    position: absolute;
    top: 0;
    height: 100%
  }

  .preview__img_new {
    height: 100% !important
  }

  .preview .play-video {
    top: 40%;
    transform: translate(-50%, -50%)
  }
}

@media screen and (max-width:42.9375em) {
  header .main-menu-block .main-menu-wrapper .main-menu {
    height: auto;
    line-height: 48px;
    margin: 0;
    display: none
  }

  header .main-menu-block .main-menu-wrapper .menu-icon-group {
    flex-grow: 1;
    text-align: right
  }

  header .main-menu-block .main-menu-wrapper .menu-icon-group ul .login,
  header .main-menu-block .main-menu-wrapper .menu-icon-group ul .lang-switch {
    display: none
  }

  header .main-menu-block .main-menu-wrapper .menu-icon-group ul li:nth-child(2) {
    display: inline-block;
    margin-top: -33px
  }
}

@media screen and (max-width:39.9375em) {
  .preview div[id^=div-gpt-ad] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
  }

  .preview-wrap {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr;
    grid-column-gap: 12px;
    grid-row-gap: 13px;
    margin: 24px 0 0;
    padding: 0
  }

  .preview-wrap_new {
    display: grid;
    grid-template-columns: minmax(100px, 1fr);
    grid-template-rows: minmax(100px, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 13px;
    margin: 24px 0 0;
    padding: 0
  }

  .default-widget__constructor .preview-wrap_new {
    grid-template-rows: minmax(100px, 1fr)
  }

  .preview {
    width: 100%;
    margin: auto;
    height: 0;
    overflow: hidden;
    padding-top: calc(288/300 * 100%);
    position: relative
  }

  .preview_new {
    height: auto
  }

  .preview-link:not(.preview-link_new) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
  }

  .preview_new__inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
  }

  .preview-link_new {
    width: 100%;
    margin: auto;
    height: 0;
    overflow: hidden;
    padding-top: calc(288/300 * 100%);
    position: relative
  }

  .preview-link_new .preview__img {
    position: absolute;
    top: 0;
    height: 100%
  }

  .preview__img {}

  .preview .play-video {
    top: 40%;
    transform: translate(-50%, -50%)
  }

  .preview-title_new {}
}

.preview-wrap .is-active.preview {
  display: block
}

.preview-wrap .no-active.preview {
  display: none
}

.preview-wrap .no-active.no-active__content * {
  display: none
}

.preview-wrap .no-active.no-active__content {
  display: block
}

.preview__ads-mobile.no-active {
  display: none !important
}

.preview__ads {
  overflow: inherit;
  position: relative;
  z-index: 9
}

.default-widget .preview__ads-no .preview {
  display: block !important
}

@media screen and (max-width:769px) {
  .default-widget .preview {
    display: block !important
  }
}

@media screen and (min-width:769px) {
  .default-widget .preview__ads-mobile.preview {
    display: none !important
  }
}

.preview-wrap .is-active.preview {
  display: block
}

.default-widget__constructor .preview-wrap.without-mobile_premium .preview:nth-child(4) {}

.default-widget__constructor .preview-wrap.with-mobile_premium .preview:nth-child(8) {}

.default-widget__constructor .preview__ads-small .preview:nth-child(6) {
  display: block
}

.default-widget__constructor .preview__ads-big .preview:nth-child(7) a,
.default-widget__constructor .preview__ads-big .preview:nth-child(7) div {}

.preview__ads {
  overflow: inherit;
  position: relative;
  z-index: 9
}

.default-widget__constructor .preview__ads-no .preview {
  display: block !important
}

@media screen and (max-width:769px) {
  .default-widget__constructor .preview {
    display: block !important
  }

  .preview-wrap .no-active.preview {
    display: none !important
  }
}

@media screen and (min-width:769px) {
  .default-widget__constructor .preview__ads-mobile.preview {
    display: none !important
  }
}

.default-widgets__single .grid-container {
  background: 0 0 !important
}

.logged-in #header {
  margin-top: 32px !important
}

@media(max-width:782px) {
  .logged-in #header {
    margin-top: 46px !important
  }
}

.logged-in #header.no-margin-header:not(.fixed-header) {
  margin-top: 0 !important
}

#wpadminbar {
  position: fixed;
  top: 0
}

#header.scrolling-header {
  margin-top: 0 !important
}

.ajax-loader {
  background: url(../fonts/spinner_8b4c_26.svg) no-repeat center;
  height: 60px;
  margin-top: 12px;
  position: relative;
  left: 0;
  top: 0;
  width: 60px;
  right: 0;
  bottom: 0;
  z-index: 99999;
  margin: auto;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite
}

.aligncenter,
.alignleft,
.alignright {
  display: block;
  padding: 0
}

.aligncenter {
  float: none;
  margin: .5em auto 1em
}

.alignright {
  float: right;
  margin: .5em 0 1em 1em
}

.alignleft {
  float: left;
  margin: .5em 1em 1em 0
}

.wp-caption {
  padding: 5px 0;
  border: 1px solid #555;
  background: #444;
  text-align: center
}

.wp-caption img {
  display: inline
}

.wp-caption p.wp-caption-text {
  margin: 5px 0 0;
  padding: 0;
  text-align: center;
  font-size: 75%;
  font-weight: 100;
  font-style: italic;
  color: #ddd
}

.textwidget img {
  display: block
}

.preview__ads-no .preview.preview__ads.preview__ads-mobile {
  display: none !important
}

.preview__ads div[id^=div-gpt-ad] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%
}

.projects-btn_mob-list .lang-switch a {
  display: inline-block;
  width: 25px;
  height: 25px;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  border: 0;
  margin: auto
}

.projects-btn_mob-list {
  z-index: 9
}

.sidebar-right-post .sidebar-widget {
  margin: 0 0 24px auto
}

.home .preview.preview__ads-mobile {
  padding: 0;
  height: auto
}

.home .preview__ads.preview__ads-mobile div[id^=div-gpt-ad] {
  position: relative
}

.content_code_area {
  margin: 0
}

@media(max-width:768px) {
  .preview-wrap_new.with-mobile_premium {
    grid-template-rows: auto
  }
}

.cookie-pop {
  position: relative;
  top: 0;
  display: flex;
  font-size: 13px;
  justify-content: center;
  align-items: center;
  background: #d1d3d4;
  z-index: 999999;
  padding: 20px 10px;
  max-width: 100%;
  min-width: 100%;
  box-sizing: border-box
}

.cookie-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 99999
}

.cookie-text {
  display: flex;
  justify-content: left;
  align-items: normal;
  flex-flow: column;
  line-height: 19.5px
}

.cookie-text-inner {
  position: relative;
  text-align: left
}

.cookie__link {
  color: #e61645
}

.cookie__link:hover {
  color: #26292e
}

.cookie-agree {
  display: flex;
  margin: 0 0 0 35px;
  padding: 5px 10px;
  align-items: center;
  justify-content: center;
  background: #e61645;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 19.5px
}

.cookie-agree:hover {
  color: #fff
}

.cookie-text-inner input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 8px;
  width: 8px;
  top: 2px;
  left: 0;
  z-index: 10
}

.checkbox-styled {
  position: absolute;
  top: 2px;
  left: 0;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: #eee
}

.checkbox-styled:after {
  content: "";
  position: absolute;
  display: none
}

.cookie-text-inner input:checked~.checkbox-styled:after {
  display: block
}

.cookie-text-inner .checkbox-styled:after {
  left: 3px;
  top: 3px;
  width: 9px;
  height: 9px;
  background: #00aeef;
  border-radius: 50%
}

.learnMore-pop,
.privacyPolicy-pop {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .7);
  width: 100%;
  height: 100%;
  z-index: 200
}

.learnMore-pop-text,
.privacyPolicy-pop-text {
  background: #fff;
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #333;
  font-size: 14px;
  width: 70%;
  padding: 20px;
  box-sizing: border-box;
  height: 70%
}

.learnMore-pop-text_inner,
.privacyPolicy-pop-text_inner {
  position: absolute;
  overflow: auto;
  word-break: break-word;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 20px;
  box-sizing: border-box
}

.learnMore-pop-text_inner h3,
.privacyPolicy-pop-text_inner h3 {
  font-family: opensans
}

.learnMore-pop__close,
.privacyPolicy-pop__close {
  position: absolute;
  top: 5px;
  right: 20px;
  width: 20px;
  height: 20px;
  background: url(../images/close-btn_4b4f_27.png) no-repeat;
  background-size: cover;
  z-index: 20
}

.closed {
  display: none
}

.link-disabled {
  cursor: not-allowed;
  pointer-events: none
}

@media(max-width:768px) {
  .cookie-wrap {
    flex-direction: column
  }

  .cookie-agree {
    margin: 10px auto 0
  }

  .cookie-text-inner input {
    left: 0;
    top: 2px
  }

  .checkbox-styled {
    top: 2px
  }

  .search_button_novy,
  #user-menu,
  #lang {
    display: none
  }

  .search_button_novy_mob {
    display: block
  }

  .cookie-text-inner {
    text-align: left
  }

  .cookie-text-inner_confid {
    left: 0
  }

  .cookie-text-inner_wrap {
    margin: 0
  }
}

.video-for-slider video {
  width: 100%;
  height: 100%
}

.wp-caption {
  width: 624px !important;
  padding: 5px
}

@media(max-width:768px) {
  .wp-caption {
    width: 100% !important
  }
}

.custom-list-instagtam {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start
}

.custom-instagtam-item {
  width: 234px;
  margin: 0 20px;
  background: #fff
}

.custom-instagtam-item:first-of-type {
  margin-left: 0
}

.header-ci {
  padding: 5px 10px;
  display: flex
}

.header-ci a {
  display: flex;
  align-items: center
}

.header-ci img {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin: 2px
}

.header-ci span {
  margin: 0 10px;
  font-weight: 600;
  color: #262626;
  font-size: 14px
}

.custom-instagtam-item>a {
  display: flex;
  flex-direction: column;
  outline: none
}

.like-ci {
  color: #262626;
  font-weight: 600;
  font-size: 11px;
  border-bottom: 1px solid #eee;
  padding-bottom: 3px;
  margin-bottom: 3px
}

.data-ci {
  padding: 0 10px 10px;
  height: 74px;
  overflow: hidden
}

.desc-ci {
  color: #262626;
  font-weight: 600;
  font-size: 11px;
  line-height: 16px;
  height: 34px;
  overflow: hidden
}

.control-ci {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 8px 10px
}

.control-ci span {
  height: 22px;
  width: 22px;
  background-image: url(../images/instagram-icon_176f_28.png);
  background-size: 154px 142px;
  display: inline-block
}

.control-ci div {
  display: flex
}

.control-ci div span {
  margin-right: 12px
}

.control-ci span.control-ci-save {
  background-position: -22px -120px
}

.control-ci span.control-ci-share {
  background-position: -46px -120px
}

.control-ci span.control-ci-comment {
  background-position: -122px -33px
}

.control-ci span.control-ci-like {
  background-position: -121px -76px
}

.custom-slider-instagram {
  background: #ea0033;
  background: -moz-linear-gradient(45deg, rgba(234, 0, 51, 1) 0%, rgba(62, 0, 196, 1) 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(234, 0, 51, 1)), color-stop(100%, rgba(62, 0, 196, 1)));
  background: -webkit-linear-gradient(45deg, rgba(234, 0, 51, 1) 0%, rgba(62, 0, 196, 1) 100%);
  background: -o-linear-gradient(45deg, rgba(234, 0, 51, 1) 0%, rgba(62, 0, 196, 1) 100%);
  background: -ms-linear-gradient(45deg, rgba(234, 0, 51, 1) 0%, rgba(62, 0, 196, 1) 100%);
  background: linear-gradient(45deg, rgba(234, 0, 51, 1) 0%, rgba(62, 0, 196, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ea0033', endColorstr='#3e00c4', GradientType=1);
  padding: 30px 20px;
  display: flex;
  justify-content: space-between;
  height: 486px
}

.link-profile-instagram {
  display: flex;
  flex-direction: column;
  align-items: center
}

.link-profile-instagram img {
  width: 80px
}

.link-profile-instagram a {
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 22px;
  display: block;
  padding-top: 15px
}

.image-ci img {
  height: 240px;
  width: 100%;
  object-fit: cover;
  object-position: top
}

@media(max-width:1023px) and (min-width:769px) {
  .link-profile-instagram {
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px
  }

  .link-profile-instagram img {
    width: 40px
  }

  .link-profile-instagram a {
    padding: 0;
    margin-left: 20px
  }

  .custom-list-instagtam {
    margin: 0 -16px;
    justify-content: center
  }

  .custom-instagtam-item:first-of-type {
    margin-left: 8px
  }

  .custom-instagtam-item {
    margin: 0 8px
  }

  .custom-slider-instagram {
    flex-direction: column;
    justify-content: flex-start
  }

  .content-carousel .slick-dots.slick-dots-for-instagram {
    top: calc(55vh + 120px)
  }
}

@media(max-width:768px) {
  .like-ci span {
    display: none
  }

  .custom-slider-instagram {
    height: 351px;
    padding: 15px 10px;
    flex-direction: column;
    justify-content: flex-start;
    transition: height .2s
  }

  .link-profile-instagram {
    flex-direction: row;
    justify-content: center;
    padding: 10px 0 25px
  }

  .link-profile-instagram img {
    width: 30px
  }

  .link-profile-instagram a {
    font-size: 18px;
    margin-left: 10px;
    padding: 0
  }

  .custom-list-instagtam {
    margin: 0 -5px
  }

  .custom-instagtam-item:first-of-type {
    margin-left: 5px
  }

  .custom-instagtam-item {
    width: calc(100%/3 - 10px);
    margin: 0 5px
  }

  .header-ci {
    padding: 2px 3px
  }

  .header-ci img {
    width: 20px;
    height: 20px;
    margin: 2px
  }

  .header-ci span {
    margin: 0 5px;
    font-size: 10px
  }

  .image-ci img {
    height: 30vw
  }

  .control-ci {
    padding: 5px
  }

  .control-ci div span {
    margin-right: 5px
  }

  .control-ci span {
    height: 16px;
    width: 16px;
    background-size: 106px 106px
  }

  .control-ci span.control-ci-like {
    background-position: -83px -58px
  }

  .control-ci span.control-ci-comment {
    background-position: -83px -25px
  }

  .control-ci span.control-ci-share {
    background-position: -136px -90px
  }

  .control-ci span.control-ci-save {
    background-position: -121px -90px
  }

  .data-ci {
    padding: 0 5px 5px;
    height: auto
  }

  .like-ci {
    font-size: 8px;
    padding-bottom: 0;
    margin-bottom: 2px
  }

  .desc-ci {
    font-size: 8px;
    line-height: 10px;
    height: 29px
  }

  .content-carousel .slick-dots.slick-dots-for-instagram {
    top: calc(35vw + 174px)
  }

  .content-carousel .slick-dots {
    transition: top .2s
  }
}

.video-page-about .sidebar-right-post {
  padding: 69px 0 30px
}

.banner-for-issue-special {
  padding: 20px 0
}

.flex-column {
  display: flex;
  flex-direction: column
}

.outstream_content_1 {
  padding-bottom: 20px;
  margin-bottom: -20px
}

@media(max-width:769px) {
  .premium1_mobile_vedsion {
    padding: 10px 0
  }

  .premium1_mobile_vedsion2 {
    padding-bottom: 16px
  }
}

.read-more-post {
  margin-bottom: 30px
}

.form-group .form-builder__file[type=file] {
  opacity: 1
}

.hidden-element {
  position: absolute;
  opacity: 0;
  z-index: -999
}

/* ############################################################### */
body {
  background-color: #e4e4e5;
}

.grid-container.project-menu {
  background: url(../images/vikna-branded-menu-1_484d_29.jpg)
}

.autor {
  display: flex;
  gap: 20px;
  align-items: center;
}

.doc-img {
  min-width: 190px;
}

@media (max-width: 687px) {
  .autor {
    flex-direction: column;
  }

  .doc-text {
    margin-top: 10px;
  }
}

.video-page-about .about a {
  text-decoration: none;
  font-weight: bold;
  color: #8B0000;
}

.video-page-about .about a.acolorred {
  color: #e61645;
}

.video-page-about .about a:focus,
.video-page-about .about a:hover {
  color: #1468a0;
}

/* order block start */
.attention {
  border: 2px solid #ff0000;
  padding: 10px;
}

.attention b {
  display: block;
  text-align: center;
  color: #ff0000;
  margin-bottom: 10px;
}

.order-form {
  font-family: Roboto, sans-serif !important;
  overflow: hidden;
  padding: 0 25px;
  clear: both
}

.order-form .order-form-label:after,
.order-form .order-form-label:before {
  content: none
}

.order-form .order-form-product-image {
  max-width: 100% !important;
  height: auto !important
}

.order-form-order-conditions {
  margin: 15px 0;
  color: #555;
  font-size: 12px
}

.order-form .order-form-wrapper {
  max-width: 400px;
  position: relative;
  margin: 25px auto;
  background: #fff;
  border-radius: 2.5px
}

.order-form form {
  background: 0 0;
  padding: 0;
  margin: 0
}

.order-form .order-form-input-field:focus::-webkit-input-placeholder {
  color: #f5f5f5
}

.order-form .order-form-input-field:focus::-moz-placeholder {
  color: #f5f5f5
}

.order-form .order-form-input-field:focus:-ms-input-placeholder {
  color: #f5f5f5
}

.order-form .order-form-input-field:focus::-ms-input-placeholder {
  color: #f5f5f5
}

.order-form .order-form-input-field:focus::placeholder {
  color: #f5f5f5
}

.order-form .order-form-input-field::-webkit-input-placeholder {
  -webkit-transition: .25s;
  transition: .25s;
  color: #c7c7c7
}

.order-form .order-form-input-field::-moz-placeholder {
  -moz-transition: .25s;
  transition: .25s;
  color: #c7c7c7
}

.order-form .order-form-input-field:-ms-input-placeholder {
  -ms-transition: .25s;
  transition: .25s;
  color: #c7c7c7
}

.order-form .order-form-input-field::-ms-input-placeholder {
  -ms-transition: .25s;
  transition: .25s;
  color: #c7c7c7
}

.order-form .order-form-input-field::placeholder {
  -webkit-transition: .25s;
  -o-transition: .25s;
  transition: .25s;
  color: #c7c7c7
}

.order-form .order-form-input-field:focus {
  border: 2px solid #f5f5f5
}

.order-form .order-form-input-field {
  -webkit-transition: .25s;
  -o-transition: .25s;
  transition: .25s;
  display: block;
  width: 100%;
  height: 50px;
  background: #f5f5f5;
  line-height: 50px;
  padding: 0 10px;
  outline: 0;
  font-size: 16px;
  border: 2px solid #eee;
  border-radius: 2.5px;
  color: #212121;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: none;
  box-shadow: none
}

.order-form .order-form-submit-button:active {
  -webkit-box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, .5)
}

.order-form .order-form-submit-button {
  height: auto;
  margin: 0;
  border-radius: 2.5px;
  display: inline-block;
  background: #d32f2f;
  line-height: 50px;
  padding: 0 25px;
  color: #fff;
  border: 0;
  width: 100%;
  outline: 0;
  font-weight: 700;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

.order-form .order-form-product-image-wrapper {
  text-align: center;
  line-height: 0
}

.order-form .order-form-submit-button:hover {
  background: #b71c1c;
  color: #fff
}

.order-form .order-form-title {
  color: #212121;
  padding: 0;
  margin: 0 0 25px 0;
  text-align: center;
  font-size: 20px
}

.order-form .order-form-text {
  color: #212121;
  text-align: center;
  margin: 15px 0 25px 0;
  padding: 0 0 5px 0;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 25px;
  font-weight: 600;
  text-indent: 0;
  border-bottom: 2px solid #d32f2f
}

.order-form .order-form-footnote {
  color: #9e9e9e;
  font-size: 12px;
  line-height: 16px;
  margin: 15px 0 0 0;
  padding: 0;
  text-indent: 0;
  text-align: left
}

.order-form .order-form-product-description {
  margin: 15px 0 0 0
}

.order-form .order-form-product-description ul {
  font-size: 14px;
  margin: 0;
  padding: 0;
  border-radius: 2.5px
}

.order-form .order-form-product-description ul li:before {
  content: '-';
  padding: 0 5px 0 0
}

.order-form .order-form-product-description ul li {
  margin: 0;
  list-style: none;
  color: #212121;
  line-height: 20px;
  overflow: hidden;
  padding: 0
}

.order-form .order-form-body {
  -webkit-box-shadow: 0 0 25px 0 rgba(0, 0, 0, .25);
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, .25);
  padding: 25px;
  overflow: auto;
  background: #fff !important
}

.order-form .order-form-label {
  color: #212121;
  display: block;
  font-size: 10px;
  font-weight: 700;
  text-align: left;
  padding: 0;
  line-height: 14px;
  margin: 0 0 5px 0;
  text-transform: uppercase
}

.order-form .order-form-input-field-wrapper {
  margin: 0 0 15px 0
}

.order-form .order-form-product-price-wrapper {
  /* opacity: .9; */
  display: -ms-grid;
  display: grid;
  width: 150px;
  height: 150px;
  text-align: center;
  background: url(../images/product-banner_e1de_30.png) no-repeat center;
  background-size: 100%;
  position: absolute;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  top: 0;
  line-height: 20px;
  right: 0
}

.order-form .order-form-product-price {
  color: #fff;
  font-weight: 700;
  position: relative;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  margin: 0;
  padding: 0
}

.order-form-product-image-section {
  position: relative;
  max-width: 400px;
  margin: 0 auto
}

.order-form-product-date {
  color: #fff;
  font-size: 12px
}

.order-form .order-form-product-image-link {
  border: none;
  line-height: 0;
  display: block;
  -webkit-box-shadow: none;
  box-shadow: none
}

.order-form .order-form-product-image-link:hover {
  border: none
}

.order-form .order-form-link {
  text-decoration: underline;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #b71c1c;
  border: none
}

.order-form .order-form-link:hover {
  border: none;
  color: #b71c1c;
  text-decoration: none
}

.order-text {
  text-align: center;
}

@media screen and (max-width: 480px) {
  .order-form .order-form-product-price-wrapper {
    top: -10px;
    right: -25px
  }
}

/* order block end   */

/* form start */

#order_form {
  background: white;
  padding: 20px;
  max-width: 600px;
  font-family: Arial;
  margin: 7px;
  background-image: url(../images/formbg_7a6d_31.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 55px;
}

#order_form div {
  background: transparent !important;
}

#content img {
  max-width: 100%;
  display: block;
  margin: 20px 0px;
}

#order_form h2 {
  margin: 25px 0 0 0;
  padding: 0px;
  line-height: 32px;
  border: none;
}

#order_form span {
  font-size: 12px;
}

#order_form .order_form_pole {
  padding: 10px;
  margin: 10px;
}

#order_form label {
  width: 230px;
  display: block;
  /*padding: 5px 0 5px 0;*/
  font-weight: bold;
  font-size: 16px;
}

#order_form input {
  font-size: 21px;
  padding: 6px;
  border-radius: 3px;
  border: 2px solid #e9d7dc;
  max-width: 300px;
  width: 100%;
}

#order_form button,
.obutton {
  display: inline-block;
  padding: 7px;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  box-shadow: 0 4px 15px 0 rgba(129, 150, 160, 0.45);
  border-radius: 5px;
  background-color: #0299ff;
  background-position: 1.35em .94em;
  background-size: 1em;
  background-repeat: no-repeat;
  transition: all .15s ease-in-out;
  border: none;
  cursor: pointer;
  font-size: 20px;
  margin-top: 20px;
}

@media screen and (max-width: 480px) {
  #order_form .order_form_pole {
    padding: 0px;
    margin: 2px;
  }

  #order_form label {
    font-size: 14px;
  }

  #order_form h2 {
    margin: -12px 0 0 0;
  }

  #order_form {
    margin-left: -20px;
    margin-right: -20px;
    padding: 7px;
  }

  #order_form {
    padding: 10px;
    padding-bottom: 180px;
    margin-bottom: -180px;
  }
}

@media screen and (min-width: 481px) {
  #order_form {
    padding-bottom: 110px;
  }
}

@media screen and (min-width: 662px) {
  #order_form {
    margin-top: 30px
  }
}

@media screen and (min-width: 1024px) {
  #order_form {
    padding-bottom: 110px;
  }
}

@media screen and (min-width: 1280px) {
  #order_form {
    margin-top: 34px;
    padding-bottom: 110px;
  }
}

/* form end   */

/* comments start */
.u-content-read {
  max-width: 940px;
  margin: 0 auto;
}

@media (max-width: 1279px) {
  .u-content-read {
    max-width: 699px;
  }
}

@media (max-width: 767px) {
  .u-content-read {
    margin-left: 0px;
  }
}

@media (max-width: 759px) {
  .c-main .u-content-read {
    margin-left: 0px;
    font-size: 20px;
    line-height: 1.5;
  }
}

.c-comments-head {
  padding-bottom: 1px;
}

.o-row-flex {
  display: flex;
  margin-left: -15px;
  margin-right: -15px;
}

.o-row-sm-flex {
  margin-left: -7px;
  margin-right: -7px;
}

.o-col-flex {
  padding-left: 15px;
  padding-right: 15px;
}

.c-comments-login {
  width: 100%;
}

.o-row-sm-flex .o-col-flex {
  padding-left: 7px;
  padding-right: 7px;
}

.comTitle {
  padding: 5px 10px;
  margin-top: 50px;
  color: rgb(0, 0, 0);
  border-bottom: 2px solid black;
  font-size: 27px;
  text-align: center;
}

.commit-text {
  margin-top: 25px;
}

.photo {
  float: left;
  margin-right: 10px;
}

.photo img {
  margin: 3px 0px 0px;
}

img.photo-people {
  width: 75px;
  border-radius: 50px;
}

.com-txt {
  padding-left: 90px;
  text-align: left;
  color: black;
}

@media (max-width: 759px) {
  .com-txt {
    padding-left: 85px;
    font-size: 17px;
  }
}
@media (max-width: 479px) {
  .commit-text{
    padding-right: 10px;
  }
}
.clear {
  clear: both;
}

/* comments end   */

.cta-button .cta-button-wrapper {
  text-align: center
}

.cta-button .cta-button-link {
  display: inline-block;
  background: #d32f2f;
  line-height: 50px;
  padding: 0 25px;
  color: #fff!important;
  border-radius: 2.5px;
  border: 0;
  font-weight: 500;
  box-shadow: none;
  text-decoration: none
}

.cta-button .cta-button-link:hover {
  background: #b71c1c;
  color: #fff
}

.cta-button .cta-button-link:active {
  box-shadow: inset 0 0 10px 0 rgba(0,0,0,.5)
}

.cta-button {
  clear: both;
  margin: 25px 0;
  font-family: Roboto,sans-serif!important;
  padding-bottom: 20px;
}